/* id styleing does not override from class styling
#second-p {
    background-color: green;
}

.first-p {
    background-color: orange
}

.parent {
    background-color: yellow;
    width: 100vw;
    height: 10rem;
    font-weight: 1000;
    font-size: 5rem;
}

.parent div {
    background-color: turquoise;
    border: 1px solid black;
    height: 80%;
    width: 80%;
}

.parent>div {
    background-color: blue;
    /* height: 80%; */
width: 80%;
}

.parent>.child {
    background-color: red;
    height: 80%;
    width: 80%;
}

.parent+.sibling {
    background-color: brown;
    width: 100vw;
    height: 10rem;
    margin: 5px;
}

.parent~div {
    background-color: brown;
    width: 100vw;
    /* height: 10rem; */
    margin: 5px;
}

p.sibling-2 {
    font-weight: 1000;
    font-size: 10rem
}

.margin-5 {
    margin: 10px
}

.heading-div {
    width: 100vw;
    /* height: 10rem; */
    background-color: #0000ff;
}

.heading-div:hover {
    background-color: orange;
}

.heading-div>p {
    color: #fff;
    font-size: 5em
}

.click-me {
    color: orange;
    background: rgb(227, 231, 38);
    /* background-color: rgb(0, 0, 0, ); */
}

.click-me:active {
    color: aqua
}

input:focus {
    outline: none;
    width: 15em;
}

p[style="color: green;"] {
    color: aquamarine !important;
}

p[class~="heading"] {
    color: aqua;
}

div.box {
    width: 600px;
    height: 600px;
    background-color: red;
}

div.box>.inner-box {
    background-color: pink;
    /* border: 5px solid pink;
    margin: 1px; */
    /* height: 10px; */
    /* height: 50%; */
    padding: 100px
}

.inner-box-child {
    /* border: 1px dotted black; */
    border-top: 1px solid red;
    border-radius: 5px;
    /* margin: 100px; */
    text-decoration: underline;
}

*/ ul {
    /* list-style-type: lower-greek */
    /* list-style-position: outside; */
    /* SHORT HAND */
    list-style: lower-greek inside;
    list-style-image: url("https://www.w3schools.com/cssref/donald.gif");
    /* list-style-image: url("https://static.vecteezy.com/system/resources/previews/004/057/706/original/gold-star-decoration-free-vector.jpg") */
}

li {
    margin: 10px 0px 0px 0px;
    background: yellow;
}

.styled-table {
    border: 1px solid black;
    width: 50vw;
    /* empty-cells: hide; */
    /* border-spacing: 25px; */
    border-collapse: collapse;

    background-color: aquamarine;
}

.styled-table td {
    background-color: red;
    border: 1px solid black;
    padding: 5px
}

.styled-ul li:hover {
    cursor: not-allowed
}


div.red {
    width: 5em;
    height: 5em;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px
}


div.parent {
    width: 7em;
    height: 7em;
    /* background-color: red; */
    border: 2px solid red;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: transparent;
}


.box-child {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
}


.fixed {
    height: 3em;
    background-color: green;
    /* width: 100vw; */
    position: sticky;
    z-index: 5;
    top: 20px;
}

.non-fixed {
    height: 3em;
    background-color: green;
    /* width: 100vw; */
    /* position: sticky; */
    z-index: 5;
    top: 20px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    /* position: relative; */
    /* top:7em; */
    /* width: 50vw; */
    /* height: 10em; */
    background-color: bisque;
    /* z-index: 2; */
    /* border: 2em solid pink; */
}

.fixed-sib {
    border: 2px solid white;
    height: 2em;
    /* z-index: 5; */
    width: 100%;
}