.relative {
    height: 5em;
    width: 5em;
    background-color: red;
    position: relative;
    left: 25px;
}

.absolute {
    height: 5em;
    width: 5em;
    background-color: green;
    position: absolute;
    bottom: 0;
}

.wrapper {
    border: 2px solid orange;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 500px;
}


.fixed {
    height: 5em;
    width: 5em;
    background-color: yellow;
    position: fixed;
    bottom: 0;
}

.scroller {
    width: 5em;
    height: 5em;
    background-color: blue;
    margin: 5px 2px;
    /* display: inline-block */
}

.sticky {
    width: 98%;
    height: 5em;
    background-color: red;
    margin: 5px 2px;
    position: sticky;
    top: 10px;
}

.bigger {
    height: 10em;
}